.icon-ruler {
    background: url(../icons/ruler.png) no-repeat center center;
}
.icon-buscar {
    background: url(../icons/search.png) no-repeat center center;
}
.icon-extensiontotal {
    background: url(../icons/arrow_inout.png) no-repeat center center;
}
.icon-acercar {
    background: url(../icons/magnifier_zoom_in.png) no-repeat center center;
}
.icon-alejar {
    background: url(../icons/magnifier_zoom_out.png) no-repeat center center;
}
.icon-acercarbox {
    background: url(../icons/magnifier.png) no-repeat center center;
}

.icon-printer {
    background: url(../icons/print.png) no-repeat center center;
}

.icon-area {
    background: url(../icons/area.png) no-repeat center center;
}

.icon-about {
    background: url(../icons/info.png) no-repeat center center;
}

.icono-add {
    background: url(../icons/add.png) no-repeat center center;
}

.icono-edit {
    background: url(../icons/editar.png) no-repeat center center;
}
.icono-remove {
    background: url(../icons/borrar.png) no-repeat center center;
}

/*  ----------------------------   otro proyecto*/

.iconoUsuario {
    background: url(../icons/usuarios2.png) no-repeat center center;
  }
  .login {
    margin-top: 170px;
  }
  .titulo {
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding-top: 20px;
    /*  border-style: solid;
     border-color: aqua;
    border-width: 2px;*/
  }
  body {
    background-color: #f9f3f2;
  }
  
  .titulousuario{
   position: absolute;
   right: 60px;
   top: 20px;
   font-size: 14px;
  }
  
  